@model Term_Project.Models.login
@{
    Layout = "/Views/Shared/_Layout.cshtml";
        }
 <div class="container">
    <section class="register">
        <h1>SignIn Page</h1>

     @using (Html.BeginForm("signininfo", "Submit", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div >
            @Html.LabelFor(model => model.username)
        </div>
        
        <div class="editor-field">
            @Html.TextBoxFor(model => model.username, new { placeholder="Username"})
            @Html.ValidationMessageFor(model => model.username)
        </div>
         
          <div class="editor-label">
            @Html.LabelFor(model => model.password )
        </div>
        <div class="editor-field">
             @Html.PasswordFor(model => model.password, new { placeholder="Password"})
            @Html.ValidationMessageFor(model => model.password)
        </div>

         <p class="submit"><input type="submit" name="signin" value="Sign In"></p>
    }
        @Html.ActionLink("Sign Up", "signup" , "Home")
         </section>
  </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!DOCTYPE html>
 <html lang="en"> 


<body>
   
</body>
     <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>SignIn Page</title>
  <link rel="stylesheet" href="~/content/layout.css">
    <link rel="stylesheet" href="~/content/style3.css">

  
</head>
</html>
